
/* *************column-right************************/
/* *************column-right************************/

.column-right {
    flex: 1;
    box-sizing: border-box;
}



/* ***************************.column-right-header*********************** */
/* ***************************.column-right-header*********************** */


/* *******************Making triangle***************** */
.column-right-header {
    display: flex;

    justify-content: space-between;
    padding-top: 27px;

    height: 58px;
    width: 100%;
}

.column-right-header-triangle {
    display: flex;
}
.triang-1    {
    width: 0x;
    height: 0px;
    margin-right: 5px;

    border: 10px solid transparent;
    border-right-color: rgb(14, 107, 150);
}
.triang-2    {
    width: 0x;
    height: 0px;
    margin-right: 5px;

    border: 10px solid transparent;
    border-right-color: rgb(14, 107, 150);
}
.triang-3    {
    width: 0x;
    height: 0px;
    margin-right: 5px;

    border: 10px solid transparent;
    border-right-color: rgb(14, 107, 150);
}


/* *****************Making logo******************** */
.header-logo {
    display: flex;
    margin-right: 39px;
}
.travelab {
    font-family: 'Poppins', sans-serif;
    font-weight:900;
    font-size: 16px;
    font-weight: 800;

    color: #0d043f;
}
.agency {
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    font-weight: 800;
    margin-top: -6px;
    margin-left: 3px;
    color: #0d043f;
}
.logo i {
    color: #0d043f;
}





/* ***************************.column-right-middle*********************** */
/* ***************************.column-right-middle*********************** */

.column-right-middle {
    margin: 0px;
    padding: 0px;
}

.happiness {
    margin-top: 0px;
    margin-left: 40px;

    width: 220px;
    height: 40px;

    font-family: 'Satisfy', cursive;
    font-size: 43.81px;

    color: rgb(30, 59, 226);
}
.travelling {
    margin-top: -9px;
    margin-left: 5px;

    width: 260px;
    height: 45px;

    font-family: 'Bebas Neue', cursive;
    font-size: 73px;
    
    color: rgb(5, 5, 129);
}
.exploring {
    margin-top: 40px;
    margin-left: 48px;
    

    width: 218px;
    height: 12px;

    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    
    color: rgb(2, 2, 46);
}
.quote {
    margin-top: 10px;
    margin-left: 15px;

    font-family: 'Barlow', sans-serif;


    display: flex;
    text-align: right;
    width: 250px;
    height: 30px;

    font-size: 7.64px;
    
    color: rgb(1, 1, 15);
}



/* ***************************.column-right-footer*********************** */
/* ***************************.column-right-footer*********************** */


.column-right-footer {
    position: relative;

    display: flex;
    justify-content: flex-end;
    
    height: 111px;
    overflow: hidden;
}


.footer-oval {
    position: absolute;
    width: 100px;
    height: 100px;

    bottom: -10px;
    left: 0px;

    border: none;
    border-radius: 50%;

    background-image: repeating-linear-gradient(-45deg, transparent , transparent 4px, rgb(17, 17, 231) 2px, rgb(17, 17, 216) 6px);
}

/* **********************Making Icons*********************/

.footer-icons {
    width: 50%;
    height: 110px;
    margin-top: 50px;
}

.icons {
    margin-left: 15px;
    color: rgb(1, 1, 27) ;
}
.travelab2 {
    font-family: 'Poppins', sans-serif;
    font-size: 12.18px;
    font-weight: bold;

    color: rgb(62, 62, 245);
}